*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit; //colocamos inherit aqui para forcar a herança em outros componentes
}


//definindo uma fonte global de 10 pixels para podermos trabalharmos com rem
//o rem ajuda na criação de páginas responsivas.

html{
  /*queremos 10pixels em porcentagem 
    o padro é 16 pixels que é igual a 100%
    entao 10/16 = 0.625, logo isso equivale
    a 62.5%*/
  font-size: 62.5%;
}

